[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Andon
	email = jojomasanori3@gmail.com
[core]
	excludesfile = /Users/apple/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
	sshCommand = ssh -i ~/.ssh/daylight.key -F /dev/null
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/apple/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	diff = auto
	status = auto
	branch = auto
